@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  background-color: #effafa;
  min-height: calc(100% - 156px);
  padding-top: 156px;
  display: flex;
  justify-content: center;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 156px;
  background: #5ba4a4 url("../../images/bg-header-desktop.svg") center no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  body::before {
    background-image: url("../../images/bg-header-mobile.svg");
  }
}

#wrapper {
  position: relative;
  padding-bottom: 100px;
}

main {
  width: 1100px;
}
@media only screen and (max-width: 1200px) {
  main {
    width: 94vw;
  }
}
@media only screen and (max-width: 800px) {
  main {
    width: 90vw;
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 500;
  scroll-behavior: smooth;
}

.filters-menu {
  background-color: white;
  align-items: center;
  padding: 9px 35px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(91, 164, 164, 0.15), 0 3px 3px rgba(91, 164, 164, 0.15), 0 6px 6px rgba(91, 164, 164, 0.15), 0 9px 9px rgba(91, 164, 164, 0.15);
  position: relative;
  top: -29px;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .filters-menu {
    padding: 5px 25px;
    top: -23px;
  }
}
@media only screen and (max-width: 800px) {
  .filters-menu {
    padding: 5px 20px;
  }
}
.filters-menu__filters {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 90%;
}
.filters-menu__filters .container {
  height: 28px;
  background-color: #eef6f6;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0.9rem;
  margin: 6px 12px 6px 0;
  align-items: center;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .filters-menu__filters .container {
    font-size: 0.8rem;
    border-radius: 3px;
    height: 26px;
    margin: 5px 10px 5px 0;
  }
}
.filters-menu__filters .container span {
  font-weight: 700;
  color: #5ba4a4;
  margin: 4px 6px 0;
}
@media only screen and (max-width: 1000px) {
  .filters-menu__filters .container span {
    margin: 3px 5px 0;
  }
}
.filters-menu__filters .container button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: none;
  outline: none;
  background-color: #5ba4a4;
  color: white;
  font-size: 1.9rem;
  transition: 0.3s;
}
@media only screen and (max-width: 1000px) {
  .filters-menu__filters .container button {
    font-size: 1.7rem;
    width: 26px;
    height: 26px;
  }
}
.filters-menu__filters .container button:hover, .filters-menu__filters .container button:focus {
  background-color: #2c3a3a;
}
.filters-menu__clear-btn {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #7b8e8e;
  flex-basis: 10%;
  text-align: right;
  transition: 0.3s;
}
@media only screen and (max-width: 1000px) {
  .filters-menu__clear-btn {
    font-size: 0.8rem;
  }
}
.filters-menu__clear-btn:hover, .filters-menu__clear-btn:focus {
  text-decoration: underline;
  color: #5ba4a4;
}

.item {
  height: 120px;
  background-color: white;
  margin-bottom: 25px;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(91, 164, 164, 0.15), 0 3px 3px rgba(91, 164, 164, 0.15), 0 6px 6px rgba(91, 164, 164, 0.15), 0 9px 9px rgba(91, 164, 164, 0.15);
}
.item hr {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .item {
    height: 90px;
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 800px) {
  .item {
    position: relative;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 20px 10px;
    margin-bottom: 48px;
  }
  .item hr {
    display: block;
    margin: 15px 0;
    border: 0;
    width: 100%;
    height: 0.5px;
    background-color: #7b8e8e;
  }
}
.item:first-child, .item:nth-child(2) {
  border-left: 5px solid #5ba4a4;
}

.info {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .info {
    font-size: 0.8rem;
  }
}
.info__img {
  margin-right: 25px;
}
@media only screen and (max-width: 1000px) {
  .info__img {
    width: 66px;
    height: 66px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .info__img {
    position: absolute;
    width: 56px;
    height: 56px;
    top: -28px;
  }
}
.info__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info__left__top__name {
  color: #5ba4a4;
  font-weight: 700;
}
.info__left__top .new, .info__left__top .featured {
  display: inline-block;
  line-height: 18px;
  padding: 3px 6px 0;
  border-radius: 12px;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .info__left__top .new, .info__left__top .featured {
    padding: 3px 4px 0;
    font-size: 0.6rem;
  }
}
.info__left__top .new {
  background-color: #5ba4a4;
  margin-left: 10px;
}
.info__left__top .featured {
  background-color: #2c3a3a;
  margin-left: 5px;
}
@media only screen and (max-width: 800px) {
  .info__left h2 {
    margin: 10px 0;
  }
}
.info__left h2 a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #2c3a3a;
  transition: 0.3s;
}
.info__left h2 a:hover, .info__left h2 a:focus {
  color: #5ba4a4;
  outline: none;
}
@media only screen and (max-width: 1000px) {
  .info__left h2 a {
    font-size: 1rem;
  }
}
.info__left__bottom {
  color: #7b8e8e;
}
.info__left__bottom span:first-child::after, .info__left__bottom span:nth-child(2)::after {
  content: " •";
  margin: 0 8px;
}
@media only screen and (max-width: 1000px) {
  .info__left__bottom span:first-child::after, .info__left__bottom span:nth-child(2)::after {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 800px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
  }
}
.filters button {
  background-color: #eef6f6;
  color: #5ba4a4;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 10px 6px 7px;
  border-radius: 4px;
  margin-right: 5px;
  transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .filters button {
    font-size: 0.8rem;
    padding: 8px 5px 6px;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 800px) {
  .filters button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.filters button:hover {
  background-color: #5ba4a4;
  color: white;
}

.attribution {
  font-size: 12px;
  line-height: 1.3rem;
  text-align: center;
  color: #5ba4a4;
}
@media only screen and (max-width: 1000px) {
  .attribution {
    margin-top: 60px;
    font-size: 11px;
  }
}
.attribution a {
  color: #7b8e8e;
  text-decoration: none;
  outline: none;
}
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

@keyframes visible-menu-item {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes invisible-menu-item {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes visible-filter {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes invisible-filter {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/*# sourceMappingURL=main.css.map */
