@import "base";


// ================================
// filters-menu (hidden by default)
// ================================
.filters-menu {
  background-color: $white;
  align-items: center;
  padding: 9px 35px; // 9 = 15 (desired) - 6 (.container margin)
  border-radius: 5px;
  box-shadow: 0 1px 1px hsla(180, 29%, 50%, 0.15),
  0 3px 3px hsla(180, 29%, 50%, 0.15),
  0 6px 6px hsla(180, 29%, 50%, 0.15),
  0 9px 9px hsla(180, 29%, 50%, 0.15);
  position: relative;
  top: -29px; // one half of (28 (btn height) + 9*2 (parent padding) + 6*2 (.container margin))
  // default styles
  display: none;

  @media only screen and (max-width: 1000px) {
    padding: 5px 25px; // 5 = 10 (desired) - 5 (.container margin)
    top: -23px; // one half of (26 (btn height) + 5*2 (parent padding) + 5*2 (.container margin))
  }

  @media only screen and (max-width: 800px) {
    padding: 5px 20px;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 90%;

    .container {
      height: 28px;
      background-color: $filter-tablets-color;
      border-radius: 4px;
      overflow: hidden;
      font-size: 0.9rem;
      margin: 6px 12px 6px 0;
      align-items: center;
      // default styles
      display: none; // otherwise flex

      @media only screen and (max-width: 1000px) {
        font-size: 0.8rem;
        border-radius: 3px;
        height: 26px;
        margin: 5px 10px 5px 0;
      }

      span {
        font-weight: $bold-w;
        color: $desaturated-dark-cyan;
        margin: 4px 6px 0;

        @media only screen and (max-width: 1000px) {
          margin: 3px 5px 0;
        }
      }

      button {
        cursor: pointer;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border: none;
        outline: none;
        background-color: $desaturated-dark-cyan;
        color: $white;
        font-size: 1.9rem;
        transition: 0.3s;

        @media only screen and (max-width: 1000px) {
          font-size: 1.7rem;
          width: 26px;
          height: 26px;
        }

        &:hover, &:focus {
          background-color: $very-dark-grayish-cyan;
        }
      }
    }
  }

  &__clear-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: $Spartan;
    font-weight: $bold-w;
    font-size: 0.9rem;
    color: $dark-grayish-cyan;
    flex-basis: 10%;
    text-align: right;
    transition: 0.3s;

    @media only screen and (max-width: 1000px) {
      font-size: 0.8rem;
    }

    &:hover, &:focus {
      text-decoration: underline;
      color: $desaturated-dark-cyan;
    }
  }
}


// ===========
// job listing
// ===========
.item {
  height: 120px;
  background-color: $white;
  margin-bottom: 25px;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 1px hsla(180, 29%, 50%, 0.15),
  0 3px 3px hsla(180, 29%, 50%, 0.15),
  0 6px 6px hsla(180, 29%, 50%, 0.15),
  0 9px 9px hsla(180, 29%, 50%, 0.15);

  hr {
    display: none;
  }

  @media only screen and (max-width: 1000px) {
    height: 90px;
    padding: 10px 25px;
  }

  @media only screen and (max-width: 800px) {
    position: relative;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 20px 10px;
    margin-bottom: 48px;

    hr {
      display: block;
      margin: 15px 0;
      border: 0;
      width: 100%;
      height: 0.5px;
      background-color: $dark-grayish-cyan;
    }
  }

  &:first-child, &:nth-child(2) {
    border-left: 5px solid $desaturated-dark-cyan;
  }
}


// ===========
// item > info
// ===========
.info {
  display: flex;

  @media only screen and (max-width: 1000px) {
    font-size: 0.8rem;
  }

  &__img {
    margin-right: 25px;

    @media only screen and (max-width: 1000px) {
      width: 66px;
      height: 66px;
      margin-right: 20px;
    }

    @media only screen and (max-width: 800px) {
      position: absolute;
      width: 56px;
      height: 56px;
      top: -28px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
      &__name {
        color: $desaturated-dark-cyan;
        font-weight: $bold-w;
      }

      .new, .featured {
        display: inline-block;
        line-height: 18px;
        padding: 3px 6px 0;
        border-radius: 12px;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: $white;
        text-align: center;

        @media only screen and (max-width: 1000px) {
          padding: 3px 4px 0;
          font-size: 0.6rem;
        }
      }

      .new {
        background-color: $desaturated-dark-cyan;
        margin-left: 10px;
      }

      .featured {
        background-color: $very-dark-grayish-cyan;
        margin-left: 5px;
      }
    }

    @media only screen and (max-width: 800px) {
      h2 {
        margin: 10px 0;
      }
    }

    h2 a {
      font-size: 1.2rem;
      text-decoration: none;
      color: $very-dark-grayish-cyan;
      transition: 0.3s;

      &:hover, &:focus {
        color: $desaturated-dark-cyan;
        outline: none;
      }

      @media only screen and (max-width: 1000px) {
        font-size: 1rem;
      }
    }

    &__bottom {
      color: $dark-grayish-cyan;

      span:first-child::after, span:nth-child(2)::after {
        content: " •";
        margin: 0 8px;

        @media only screen and (max-width: 1000px) {
          margin: 0 5px;
        }
      }
    }
  }
}


// ==============
// item > filters
// ==============
@media only screen and (max-width: 800px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
  }
}

.filters button {
  background-color: $filter-tablets-color;
  color: $desaturated-dark-cyan;
  font-family: $Spartan;
  font-weight: $bold-w;
  font-size: 0.9rem;
  padding: 10px 6px 7px;
  border-radius: 4px;
  margin-right: 5px;
  transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;

  @media only screen and (max-width: 1000px) {
    font-size: 0.8rem;
    padding: 8px 5px 6px;
    border-radius: 3px;
  }

  @media only screen and (max-width: 800px) {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &:hover {
    background-color: $desaturated-dark-cyan;
    color: $white;
  }
}


// =================
// attribution links
// =================
.attribution {
  font-size: 12px;
  line-height: 1.3rem;
  text-align: center;
  color: $desaturated-dark-cyan;

  @media only screen and (max-width: 1000px) {
    margin-top: 60px;
    font-size: 11px;
  }

  a {
    color: $dark-grayish-cyan;
    text-decoration: none;
    outline: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}